{% extends "skeleton.html" %}
{% block contenido %}
<br>
<button type="button" class="btn btn-success btn-lg" id="iniciar">INICIAR</button>
<a href="/verResultados" role="button" class="btn btn-default btn-lg">Ver Resultados</a>
<h6 class="text-danger">Se ejecutarán 500 generaciones</h6>
<br>
<div class="form-group">
     <label for="comment">Resultados:</label>
     <textarea class="form-control" rows="16" id="area" disabled></textarea>
</div>
<div class="col-md-12 col-sm-12" style="text-align: center">
    <a href="/" type="button" class="btn btn-primary btn-lg">
        <i class="fa fa-arrow-circle-left fa-lg"></i>
        Retornar
    </a>
</div>
<script>
    jQuery(function($){
        if (!("WebSocket" in window)) {
            alert("EL navegador no soporta WebSockets");
        } else {
            setup();
        }

        function setup(){
            var $btnIniciar = $("#iniciar");
            $btnIniciar.on('click',function(){
                $.ajax({url: "/entrenar/iniciar", success: function(result){
                    console.log("Iniciado " + result)
                }});
            });

            var host = "ws://localhost:5000/ws";
            var socket = new WebSocket(host);

            if(socket){
                socket.onopen = function(){
                    console.log("Conexion abierta")
                }
                socket.onmessage = function(msg){
                    showServerResponse(msg.data);
                }
                socket.onclose = function(){
                    showServerResponse("Conexion cerrada");
                }
            } else {
                console.log("WebSocket incorrecto");
            }

            var output = $('#area');
            output.val("");
            function showServerResponse(txt){
                output.val(output.val() + txt);
            }
        }
    });
</script>
{% endblock %}
