{% extends "skeleton.html" %}
{% block contenido %}
<div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Algoritmo NEAT</div>
                <div class="panel-body">
                    <a class="btn btn-success btn-lg btn-block" href="/entrenar" role="button">
                        <i class="fa fa-flash fa-lg"></i>
                        ENTRENAR
                    </a>
                    <h6 class="text-danger">ALERTA: Esta operación toma demasiado tiempo</h6>
                </div>
            </div>
            <!--div class="panel panel-default">
                <div class="panel-heading">Panel Header</div>
                <div class="panel-body">Panel Content</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Panel Header</div>
                <div class="panel-body">Panel Content</div>
            </div-->
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Audio</th>
                        <th>Genero</th>
                        <th>Ir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td>{{ song['id'] }}</td>
                        <td>{{ song['filename'] }}</td>
                        <td>
                            <audio controls>
                                <source src="/media/{{song['filename']}}" type="audio/wav">Tu navegador no soporta elementos de audio
                            </audio>
                        </td>
                        <td>
                            {% if song['genre'] == 1 %}
                                ROock
                            {% elif song['genre'] == 2 %}
                                Clásica
                            {% elif song['genre'] == 3 %}
                                Cumbia
                            {% elif song['genre'] == 4 %}
                                Salsa
                            {% else %}
                                Desconocido
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-default" href="/cancion/{{song['id']}}" role="button">Ver datos</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
