<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clasificador de musica">
    <meta name="author" content="UNSA">

    <title>Clasificador de música</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="/static/vendor/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Audio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Doe</td>
                    <td>
                        <audio controls>
                            <source src="http://k003.kiwi6.com/hotlink/9q321uzr6w/pop.wav" type="audio/wav">
                            Tu navegador no soporta elementos de audio
                        </audio>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
