<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clasificador de musica">
    <meta name="author" content="UNSA">

    <title>Clasificador de música</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="/vendor/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="header col-md-12">
        <div class="row">
            <h1>CLASIFICADOR DE MÚSICA</h1>
            <h4>Módulo de Entrenamiento</h4>
        </div>
    </div>
    <div class="container">
        {% block contenido %}{% endblock %}
    </div>
    <div class="footer col-md-12">
        <div class="row">
            <p>Inteligencia Artificial 2</p>
            <p>Escuela Profesional Ingeniería de Sistemas</p>
            <p>Universidad Nacional de San Agustín</p>
        </div>
    </div>
</body>
</html>
